In [1]:
import pandas as pd 
import numpy as np
import os 

def get_filename(number: int) -> str:
    try:
        for i in os.listdir("data"):
            keyword = str(number)+"_"
            if i[-3:] == 'csv' and i.startswith(keyword):
                filename = i # Only One!
        return filename
    except Exception:
        return 'NAN'

def data_processing(number: int) -> pd.DataFrame:
    '''
    para:
        number of subject
    '''
    k = get_filename(number)
    if get_filename(number) == 'NAN':
        return 'NAN'    
    else:
        filename = "data/"+ k 
    return pd.read_csv(filename)

raw_data = data_processing(1)
raw_data.head()

,location,corrAns,pleasantness,arousal,dominance,attraction,index,number,cond,trials.thisRepN,...,response_6.stopped,thanktext.started,thanktext.stopped,participant,session,date,expName,psychopyVersion,frameRate,Unnamed: 142
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,2022-10-25_10h28.26.356,Lab3_EFGoGo,2022.2.4,60.311776,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,2022-10-25_10h28.26.356,Lab3_EFGoGo,2022.2.4,60.311776,NaN
2,source/positive/FEMALE/1.GIF,space,7.00,5.33,6.00,6.02,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,1.0,1.0,2022-10-25_10h28.26.356,Lab3_EFGoGo,2022.2.4,60.311776,NaN
3,source/negative/FEMALE/61.GIF,None,3.05,5.00,4.93,4.60,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,1.0,1.0,2022-10-25_10h28.26.356,Lab3_EFGoGo,2022.2.4,60.311776,NaN
4,source/negative/MALE/61.GIF,None,3.09,6.67,5.18,4.93,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,1.0,1.0,2022-10-25_10h28.26.356,Lab3_EFGoGo,2022.2.4,60.311776,NaN

In [3]:
pd.read_csv('subjects_results.csv')

,subject_num,avg_cor_1,avg_rt_1,avg_cor_2,avg_rt_2,avg_cor_3,avg_rt_3,avg_cor_4,avg_rt_4,avg_cor_5,avg_rt_5,avg_cor_6,avg_rt_6,avg_whole_cor,avg_whole_rt,ED_score
0,1.0,0.916667,0.20174,1.0,0.32671,0.916667,0.365742,1.0,0.539463,1.0,0.365634,0.833333,0.400364,0.944444,0.758413,-0.163893

In [2]:
labels = ['htsd','htnd','nthd','ntsd','sthd','stnd']
labels_explain = ['happy target and sad distraction','happy target and neutral distraction','neutral target and happy distraction','neutral target and sad distraction','sad target and happy distraction','sad target and neutral distraction']
rts = ['response_'+str(i+1)+'.rt' for i in range(6) ]
corrs = ['response_'+str(i+1)+'.corr' for i in range(6)]
tables = []
for item in range(len(labels)):
    # df.loc[:,['è¯­æ–‡','æ•°å­¦']
    blocks = raw_data[raw_data.loc[:,'cond'] == labels[item]].loc[:,['number','corrAns','pleasantness','arousal','dominance','attraction',corrs[item],rts[item],'cond']]
    # blocks = raw_data[raw_data['cond'] == labels[item]].loc[:,['number','corrAns','pleasantness','arousal','dominance','attraction',corrs[item],rts[item],'cond']]
    tables.append(blocks)
# tables[0].loc[:,['corrAns','pleasantness','arousal','dominance','attraction','response_1.corr','response_1.rt','cond']]
tables[0]

,number,corrAns,pleasantness,arousal,dominance,attraction,response_1.corr,response_1.rt,cond
7,NM73,None,2.84,6.00,4.27,3.93,1.0,NaN,htsd
8,PM30,space,4.11,3.33,4.77,4.02,0.0,NaN,htsd
9,PF57,space,6.68,5.00,6.18,6.14,1.0,0.565853,htsd
10,PM16,space,5.45,5.00,5.45,4.66,1.0,0.454915,htsd
11,NF65,None,3.77,3.67,4.95,3.93,1.0,NaN,htsd
12,NM74,None,4.14,4.00,4.66,3.86,1.0,NaN,htsd
13,PF40,space,6.55,5.33,6.02,5.57,1.0,0.432164,htsd
14,NM66,None,2.64,7.00,4.09,3.82,1.0,NaN,htsd
15,NF78,None,2.75,3.00,4.36,3.18,1.0,NaN,htsd
16,PM33,space,5.39,3.67,5.43,4.59,1.0,0.434270,htsd
17,NF79,None,3.57,3.33,5.39,4.48,1.0,NaN,htsd
18,PF3,space,6.00,4.00,5.80,5.59,1.0,0.331942,htsd

In [48]:
tables[1][tables[1]['corrAns'] == 'space']['response_2.rt'].sum()/6

0.6534207833333691

In [49]:
# report for the subject
def reporter_for_sub(blocks:list,filename:str)-> None:
    whole_trials = 12*6
    count = 0
    wh_rt = 0.0
    len_all = 0
    with open(filename,'w') as f:
        # f.write()
        for number in range(len(blocks)):
            f.write("Block: "+str(number+1)+"\n")
            f.write("Block information: "+labels_explain[number]+'\n')
            block_data = blocks[number]
            true_data = block_data[block_data[corrs[number]] == 1]
            corr_block_rate = len(true_data)/len(block_data)  # accurancy rate of one block
            f.write("Your accurancy rate is: "+str(corr_block_rate)+"\n")
            true_space_data = true_data[true_data['corrAns'] == 'space']# true and has space
            sum_block_rt = true_space_data[rts[number]].sum()
            avg_block_rt = sum_block_rt / len(true_data) # average reaction time in a block. reminder to cut error results"
            f.write("Your average reaction time is:"+str(avg_block_rt)+"\n\n")
            count += len(true_data)
            wh_rt += sum_block_rt
            len_all += len(true_space_data)
            print(len_all)
        f.write("\nWHOLE RESULTS:\n")
        f.write("Your whole accurancy rate is: "+str(count/72.0)+"\n")
        f.write("Your whole average reaction time is: "+str(wh_rt/len_all)+"\n")
    # pass
reporter_for_sub(tables,"1.txt")

5
11
16
22
28
33

In [1]:
import pandas as pd
names = ['subject_num','avg_cor_1','avg_rt_1','avg_cor_2','avg_rt_2','avg_cor_3','avg_rt_3','avg_cor_4','avg_rt_4','avg_cor_5','avg_rt_5','avg_cor_6','avg_rt_6','avg_whole_cor','avg_whole_rt','ED_score']
dframe = pd.DataFrame(data=None,columns=names)
dframe.to_csv('subjects_results.csv',index=False)

In [2]:
import pandas as pd
report_for_exp = pd.read_csv('subjects_results.csv')
report_for_exp

,subject_num,avg_cor_1,avg_rt_1,avg_cor_2,avg_rt_2,avg_cor_3,avg_rt_3,avg_cor_4,avg_rt_4,avg_cor_5,avg_rt_5,avg_cor_6,avg_rt_6,avg_whole_cor,avg_whole_rt,ED_score
0,1.0,0.916667,0.201740,1.000000,0.326710,0.916667,0.365742,1.000000,0.539463,1.000000,0.365634,0.833333,0.400364,0.944444,0.758413,-0.163893
1,0.0,0.833333,0.344203,1.000000,0.309733,0.833333,0.382925,0.833333,0.495517,1.000000,0.432811,0.666667,0.586884,0.861111,0.807252,-0.088607
2,2.0,0.916667,0.366438,1.000000,0.365571,0.916667,0.308236,0.916667,0.726901,1.000000,0.362416,0.916667,0.485136,0.944444,0.893626,0.004023
3,3.0,0.916667,0.248238,0.583333,0.619055,0.416667,0.586406,0.833333,0.464959,0.833333,0.421565,0.833333,0.581951,0.736111,0.771275,-0.173327

In [13]:
report_for_exp.mean()

subject_num      0.500000
avg_cor_1        0.875000
avg_rt_1         0.272972
avg_cor_2        1.000000
avg_rt_2         0.318222
avg_cor_3        0.875000
avg_rt_3         0.374334
avg_cor_4        0.916667
avg_rt_4         0.517490
avg_cor_5        1.000000
avg_rt_5         0.399222
avg_cor_6        0.750000
avg_rt_6         0.493624
avg_whole_cor    0.902778
avg_whole_rt     0.782833
ED_score        -0.126250
dtype: float64

In [14]:
report_for_exp.std()

subject_num      0.707107
avg_cor_1        0.058926
avg_rt_1         0.100737
avg_cor_2        0.000000
avg_rt_2         0.012005
avg_cor_3        0.058926
avg_rt_3         0.012151
avg_cor_4        0.117851
avg_rt_4         0.031074
avg_cor_5        0.000000
avg_rt_5         0.047501
avg_cor_6        0.117851
avg_rt_6         0.131890
avg_whole_cor    0.058926
avg_whole_rt     0.034534
ED_score         0.053235
dtype: float64